<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBS41yoyCGDf2DJYtNbDG2YYcoIQj9EEZU</string>
	<key>GCM_SENDER_ID</key>
	<string>683597520754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.javadName</string>
	<key>PROJECT_ID</key>
	<string>javied-nama-iqbal</string>
	<key>STORAGE_BUCKET</key>
	<string>javied-nama-iqbal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683597520754:ios:8541fdd863aeceaa3ac7eb</string>
	<key>DATABASE_URL</key>
	<string>https://javied-nama-iqbal-default-rtdb.firebaseio.com</string>
</dict>
</plist>